/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: #242424;
  color: #ffffff;
  line-height: 1.6;
  padding: 1rem;
}

.card {
  background-color: rgb(39, 50, 63);
  padding: 5px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}
.card img {
  width: 100%;
}

.card-action {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-action button {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-size: 35px;
}

.card-image {
  height: 260px;
  padding: 5px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card-image img {
  border-radius: 15px;
}

.cards-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  justify-content: space-evenly;
  row-gap: 15px;
}
